<div class="container my-5">
    <div class="row">
        <div class="col d-flex flex-column align-items-center catItem">
            <a style="text-align: center;" href="#"><img (click)="getCatagory($event.target.alt)" width="100%" style="border-radius: 10rem; height: 6rem;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9uU-lOgug5rnx6DFg3mKMy6-ftvL8tJfMtQ&usqp=CAU"
                    class="card-img-top" alt="fashion">Fashion</a>
        </div>
        <div class="col d-flex flex-column align-items-center catItem">
            <a style="text-align: center;" href="#"><img (click)="getCatagory($event.target.alt)" width="100%" style="border-radius: 10rem; height: 6rem;"
                    src="https://ii1.pepperfry.com/media/catalog/product/c/e/568x625/ceramic-pink-flower-vase-by-aapno-rajasthan-ceramic-pink-flower-vase-by-aapno-rajasthan-gnkkwx.jpg"
                    class="card-img-top" alt="homedecoration">Home Decoration</a>
        </div>
        <div class="col d-flex flex-column align-items-center catItem">
            <a style="text-align: center;" href="#"><img (click)="getCatagory($event.target.alt)" width="100%" style="border-radius: 10rem; height: 6rem;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqiJx51sKQbYSWair7imYlSUN_bhC2RiREow&usqp=CAU"
                    class="card-img-top" alt="chocolate">Chocolate</a>
        </div>
        <div class="col d-flex flex-column align-items-center catItem">
            <a style="text-align: center;" href="#"><img (click)="getCatagory($event.target.alt)" width="100%" style="border-radius: 10rem; height: 6rem;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFzaUX2GuZ-oSwIAPeKiE3xak4Pv31VSzYkg&usqp=CAU"
                    class="card-img-top" alt="jewellery">Jewellery</a>
        </div>
        <div class="col d-flex flex-column align-items-center catItem">
            <a style="text-align: center;" href="#"><img (click)="getCatagory($event.target.alt)" width="100%" style="border-radius: 10rem; height: 6rem;"
                    src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/white-female-shoes-on-feet-royalty-free-image-912581410-1563805834.jpg?crop=1.00xw:0.752xh;0,0.127xh&resize=1200:*"
                    class="card-img-top" alt="shoe">Shoe</a>
        </div>
        <div class="col d-flex flex-column align-items-center catItem">
            <a style="text-align: center;" href="#"><img (click)="getCatagory($event.target.alt)" width="100%" style="border-radius: 10rem; height: 6rem;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVTs2TO6j9r91Z3m9g9U8WjM0X8sMplsQF2A&usqp=CAU"
                    class="card-img-top" alt="womens">Womens</a>
        </div>
        <div class="col d-flex flex-column align-items-center catItem">
            <a style="text-align: center;" href="#"><img (click)="getCatagory($event.target.alt)" width="100%" style="border-radius: 10rem; height: 6rem;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVZIfEnpbLDpCiSDpi6AsiE-9K73xD95W1lQ&usqp=CAU"
                    class="card-img-top" alt="mens">Mens</a>
        </div>
        <div class="col d-flex flex-column align-items-center catItem">
            <a style="text-align: center;" href="#"><img (click)="getCatagory($event.target.alt)" width="100%" style="border-radius: 10rem; height: 6rem;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-xLE6nuQoXBidI1LPzWCaqvCtwAx9jx4_GQ&usqp=CAU"
                    class="card-img-top" alt="electronics">Electronics</a>
        </div>
        <div class="col d-flex flex-column align-items-center catItem">
            <a style="text-align: center;" href="#"><img (click)="getCatagory($event.target.alt)" width="100%" style="border-radius: 10rem; height: 6rem;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXK_s3yevybNCfv_48ZBsjjzn_-InvS_7n1g&usqp=CAU"
                    class="card-img-top" alt="furniture">Furniture</a>
        </div>
    </div>
</div>