.mat-warn {
    background: #D10024;
}

.mat-input-element{
    caret-color: #D10024;
}

.mat-card {
    background: #fff;
    color: #1E1F29;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

.logRegBtn{
    border: 1px solid transparent;
}
.logRegBtn:hover{
    background-color: transparent;
    color: #00000099;
    border: 1px solid #D10024;
}