<div id="bg" class="container my-5">

    <h2 style="padding-top:20px; color:black; text-align:center"><strong>Frequently Asked Questions </strong> </h2>
    <p style="padding-top:50px;font-size:28px; color:black">1. Q: How can I order?</p>

    <p style="font-weight:800;">A: You can order easily using our online platform. When you find a product you need, you
        can add it to cart, login and go through the ordering process. After the order is ready, you will receive order
        summary to your email. Order summary will also be stored to your account.

        You can also easily make reorders afterwards by clicking the “reorder” button on any of your previously made
        orders. After clicking the “reorder” button the cart will open and you can change quantities or products. </p>

    <p style="padding-top:50px;font-size:28px; color:black">2. Q: Why should I buy online?</p>
    <p style="font-weight:800;">A: Speeding up the process. By ordering online you will you will get prices faster and
        you will be able to go through order confirmation and payment process much faster. This could save days of your
        time.

        Traceability: You will have easy access to all of your previous orders any time you want.

        Reordering: you can make a re-order anytime based on your previous orders by only couple of clicks. This will
        save time and effort as you don’t need to go through all the documents and emails from the past.</p>

    <p style="padding-top:50px;font-size:28px; color:black">3. Q: What information should I input when ordering?</p>
    <p style="font-weight:800;">A: our online ordering system will ask for all the important information you should
        submit. If you have a VAT number, please remember to submit it. This will make sure the shipment is not delayed
        because of the lack of VAT number</p>

    <p style="padding-top:50px;font-size:28px; color:black">4. Q: What payment methods can I use?</p>
    <p style="font-weight:800;">A: You can use all the major credit cards.

        If you are a customer with established customer relationship with HyTest Ltd. you are able to use invoice as a
        payment method on our online shopping checkout process. If invoicing option is not activated for you although
        you are repeated customer, please contact hytest@hytest.fi and notify us.</p>

    <p style="padding-top:50px;font-size:28px; color:black">5. Q: Is VAT charged?</p>
    <p style="font-weight:800;">A: If you have VAT number, then VAT is not charged. You need to remember to add the VAT
        number to your account information section. Online checkout system will automatically fill in the submitted VAT
        number when you order products.
        You can also add your VAT number during the checkout process manually.</p>

    <p style="padding-top:50px;font-size:28px; color:black">6. Q: Can I use pro-forma invoice?</p>
    <p style="font-weight:800;">A: Yes, you can use pro-forma invoice. Please contact hytest@hytest.fi if you want to
        use pro-forma invoice.

    <p style="padding-top:50px;font-size:28px; color:black">7. Q: What should I do if the payment is not accepted?</p>
    <p style="font-weight:800;">A: Please try again in a little while. If the payment is still not accepted, please
        verify your account balance. If everything is as it should, but you still can't make the payment, please contact
        hytest@hytest.fi notify us about the problem. We can manage the order manually.</p>

    <p style="padding-top:50px;font-size:28px; color:black">8. Q: How can I change delivery address?</p>
    <p style="font-weight:800;">A: Sign in to your account and go to “my account”. On “my account” you can change all
        your contact information.</p>

    <p style="padding-top:50px;font-size:28px; color:black">9. Q: What are the delivery charges?</p>
    <p style="font-weight:800;">A: Delivery charges are dependent on the shipment requirements. If the products on your
        order are due to special requirements (for example dry ice) extra fee will be added to the shipment charges. You
        can see the shipping fees on the checkout process before the payment is made.</p>

    <p style="padding-top:50px;font-size:28px; color:black">10. Q: What are the terms and conditions?</p>
    <p style="font-weight:800;">A: You can see the terms and conditions here. The Terms & Conditions act as a contract
        between you and your users so you can control liability, manage use, protect your intellectual property, and
        enforce rules. While it's not legally required in any jurisdiction, it can make managing your website or app
        much easier.The Terms & Conditions (T&C) are also known as Terms of Service or Terms of Use. This article and
        outline will help you draft and write a basic yet complete Terms & Conditions for your app or website.</p>

</div>